################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDA_Course_Materials/lesson4/plots/Thumbs.db
